/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/volumes
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
api.json
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
compose.override.yaml
/.fleet
/.idea
/.vscode
/.zed

**/caddy
frankenphp
frankenphp-worker.php

.env
.env.testing
.env.backup
.env.production
